{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <main class="container">
        <section id="admin">
            <div class="row">
                <h1 class="display-4 my-4">Liste des tableaux</h1>
                <div>
                    <a href="{{ path('addpainting') }}" class="btn btn-outline-dark">Ajouter un tableau</a>
                    <a href="{{ path('addcategory') }}" class="btn btn-outline-dark">Ajouter une catégorie</a>
                </div>

                <!-- Cards -->
                {% for painting in paintings %}
                    <div class="col-lg-4 col-md-6" data-category="{{ painting.category.id }}">
                        <div class="card my-3" style="max-height: 600px;">
                            <a href="{{ path('painting', {id:painting.id}) }}"><img src="{{ asset('img/') ~ painting.image }}" class="card-img-top" alt=""></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ painting.title }}</h5>
                                <h6 style="font-weight: normal">{{ painting.created|date("d/m/Y") }}</h6>
                                <h6>{{ painting.category.name|capitalize }}</h6>
                                <p class="card-text">{{ painting.description }}</p>
                                <div class="text-center">
                                    <a href="{{ path('delpainting', {id:painting.id}) }}" class="text-decoration-none del"><i class="icofont-trash"></i></a>
                                    <a href="{{ path('editpainting', {id:painting.id}) }} " class="text-decoration-none maj"><i class="icofont-pencil-alt-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}