{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Gallery{% endblock %}

{% block body %}
    <main class="container">
        <h2 class="display-4 my-5 mb-5">Specifics</h2>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="{{ asset('img/' ~ painting.image) }}" alt="{{ painting.title }}" class="w-100 mb-4 rounded-1">
            </div>
            <div class="col-lg-6">
                <h3 class="display-5">{{ painting.title }}</h3>
                <h4>{{ painting.category.name }}<br></h4>
                <h4>{{ painting.created|date('d/m/Y') }}</h4>
                <p class="lead">{{ painting.description }}</p>
                <p><a href="{{ path('gallery') }}" class="btn btn-outline-dark">Retour à la galerie</a></p>
            </div>
        </div>
        <!-- Section Commentaire -->
        <section id="commentary">
            <div class="row mb-5">
                <h3>Commentaires</h3>
                {% for commentary in commentaries %}
                    <div class="card my-3" style="max-height: 600px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ commentary.author }}</h5>
                            <h6 style="font-weight: normal">{{ commentary.createdAt|date("d/m/Y") }}</h6>
                            <p class="card-text">{{ commentary.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row mb-5">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Publier le commentaire" class="btn btn-outline-dark">
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}