{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="display-4 my-2">Modifier une oeuvre</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Modifier le tableau" class="btn btn-outline-dark">
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}