{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Gallery{% endblock %}

{% block body %}
    <main class="container">
        <section id="gallery">
            <h2 class="display-4 my-4 text-center">Paintings</h2>
            <div class="row">
                <!-- Categories list -->
                <div class="text-center">
                    <ul id="filter-btn">
                        <li data-target="all" class="btn btn-outline-dark mb-2 active"> All </li>
                        {% for category in categories %}
                            <li data-target="{{ category.id }}" class="btn btn-outline-dark mb-2"> {{ category.name }} </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Cards -->
                <div class="cards row">
                    {% for painting in paintings %}
                        <div class="col-lg-4 col-md-6 my-3" data-id="{{ painting.category.id }}">
                            <a href="{{ path('painting', {id:painting.id}) }}"><img src="{{ asset('img/') ~ painting.image }}" alt="{{ painting.title }}" class="w-100 rounded-2"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}