{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Home{% endblock %}

{% block body %}
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/slider/slide1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../img/slider/slide2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../img/slider/slide3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="mb-5">Welcome to Art Gallery</h1>
        <div class="row">
            <div class="col-md-6 p-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi dicta dolor facilis illum
                    labore, omnis sed? Assumenda beatae eius eum ipsam iure molestiae molestias quae quo tempora
                    voluptatem? Autem delectus eaque ipsam odit quae ratione rerum. A ab at, esse id possimus similique.
                    Cumque eligendi error maiores, mollitia necessitatibus neque praesentium quaerat reiciendis sed
                    unde! Hic nobis tempora ullam?</p>
            </div>
            <div class="col-md-6 p-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut culpa, eum magni quae ratione
                    voluptatum. Ab accusamus autem beatae cupiditate earum, facere hic laboriosam molestias nostrum
                    obcaecati quas quia repellat totam ullam velit, veniam voluptatum? Assumenda deserunt doloribus ea
                    explicabo id ipsum obcaecati officia pariatur quibusdam sunt! Aliquam at fugiat, impedit nulla
                    quaerat suscipit!</p>
            </div>
        </div>
    </div>
{% endblock %}
