{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Team{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-4 my-4 text-center">Team</h2>
            </div>
        </div>
    </main>
{% endblock %}